body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3914 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1340px;
  height:90px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:37px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:1251px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3916 {
  position:absolute;
  left:0px;
  top:49px;
  width:150px;
  height:1251px;
}
#u3917 {
  position:absolute;
  left:2px;
  top:618px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:81px;
}
#u3918 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u3919 {
  position:absolute;
  left:2px;
  top:33px;
  width:146px;
  word-wrap:break-word;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:1220px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3920 {
  position:absolute;
  left:150px;
  top:80px;
  width:1190px;
  height:1220px;
}
#u3921 {
  position:absolute;
  left:2px;
  top:602px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:81px;
}
#u3922 {
  position:absolute;
  left:150px;
  top:0px;
  width:1190px;
  height:80px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:33px;
  width:1186px;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3924 {
  position:absolute;
  left:184px;
  top:90px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3926p000 {
  position:absolute;
  left:169px;
  top:131px;
  width:1133px;
  height:3px;
}
#u3926p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:3px;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3927 {
  position:absolute;
  left:172px;
  top:124px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:37px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3928 {
  position:absolute;
  left:170px;
  top:253px;
  width:1130px;
  height:37px;
}
#u3929 {
  position:absolute;
  left:2px;
  top:11px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930 {
  position:absolute;
  left:190px;
  top:264px;
  width:50px;
  height:14px;
}
#u3931 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3930_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u3932 {
  position:absolute;
  left:257px;
  top:263px;
  width:43px;
  height:14px;
}
#u3933 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3934 {
  position:absolute;
  left:731px;
  top:263px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3935 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3936 {
  position:absolute;
  left:1041px;
  top:262px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3938 {
  position:absolute;
  left:1194px;
  top:262px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:71px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3940 {
  position:absolute;
  left:170px;
  top:289px;
  width:1130px;
  height:71px;
}
#u3941 {
  position:absolute;
  left:2px;
  top:28px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942 {
  position:absolute;
  left:190px;
  top:317px;
  width:30px;
  height:16px;
}
#u3943 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u3944 {
  position:absolute;
  left:240px;
  top:317px;
  width:97px;
  height:16px;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u3946 {
  position:absolute;
  left:700px;
  top:317px;
  width:135px;
  height:16px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3948 {
  position:absolute;
  left:1052px;
  top:315px;
}
#u3948_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u3948_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u3949 {
  position:absolute;
  left:0px;
  top:3px;
  width:43px;
  height:14px;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u3951 {
  position:absolute;
  left:153px;
  top:0px;
  width:57px;
  height:14px;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3948_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u3948_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3953 {
  position:absolute;
  left:153px;
  top:0px;
  width:29px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3955 {
  position:absolute;
  left:0px;
  top:-1px;
  width:80px;
  height:22px;
}
#u3955_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3955_input:disabled {
  color:grayText;
}
#u3956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:71px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3956 {
  position:absolute;
  left:170px;
  top:359px;
  width:1130px;
  height:71px;
}
#u3957 {
  position:absolute;
  left:2px;
  top:28px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958 {
  position:absolute;
  left:190px;
  top:387px;
  width:30px;
  height:16px;
}
#u3959 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3958_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u3960 {
  position:absolute;
  left:240px;
  top:387px;
  width:97px;
  height:16px;
}
#u3961 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u3962 {
  position:absolute;
  left:700px;
  top:387px;
  width:135px;
  height:16px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u3964 {
  position:absolute;
  left:1052px;
  top:388px;
  width:43px;
  height:14px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u3966 {
  position:absolute;
  left:1205px;
  top:386px;
  width:57px;
  height:14px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:71px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3968 {
  position:absolute;
  left:170px;
  top:429px;
  width:1130px;
  height:71px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:28px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970 {
  position:absolute;
  left:190px;
  top:457px;
  width:30px;
  height:16px;
}
#u3971 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u3972 {
  position:absolute;
  left:240px;
  top:457px;
  width:97px;
  height:16px;
}
#u3973 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
}
#u3974 {
  position:absolute;
  left:700px;
  top:457px;
  width:135px;
  height:16px;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u3976 {
  position:absolute;
  left:1052px;
  top:458px;
  width:43px;
  height:14px;
}
#u3977 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u3978 {
  position:absolute;
  left:1205px;
  top:459px;
  width:57px;
  height:14px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:15px;
}
#u3981 {
  position:absolute;
  left:433px;
  top:597px;
  width:278px;
  height:15px;
}
#u3982 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u3983 {
  position:absolute;
  left:716px;
  top:592px;
  width:25px;
  height:25px;
}
#u3983_input {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3984 {
  position:absolute;
  left:751px;
  top:592px;
  width:35px;
  height:25px;
}
#u3984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u3985 {
  position:absolute;
  left:803px;
  top:598px;
  width:66px;
  height:13px;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3987 {
  position:absolute;
  left:869px;
  top:595px;
  width:47px;
  height:22px;
}
#u3987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3987_input:disabled {
  color:grayText;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u3988 {
  position:absolute;
  left:926px;
  top:598px;
  width:14px;
  height:13px;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u3990 {
  position:absolute;
  left:170px;
  top:499px;
  width:1130px;
  height:41px;
}
#u3991 {
  position:absolute;
  left:2px;
  top:13px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:190px;
  top:513px;
  width:50px;
  height:14px;
}
#u3993 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u3992_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u3994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:100px;
  background:inherit;
  background-color:#F2F2F2;
}
#u3994 {
  position:absolute;
  left:170px;
  top:143px;
  width:1130px;
  height:100px;
}
#u3995 {
  position:absolute;
  left:2px;
  top:42px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3996 {
  position:absolute;
  left:903px;
  top:263px;
  width:57px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3998 {
  position:absolute;
  left:903px;
  top:318px;
  width:53px;
  height:16px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4000 {
  position:absolute;
  left:903px;
  top:388px;
  width:53px;
  height:16px;
}
#u4001 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u4002 {
  position:absolute;
  left:903px;
  top:456px;
  width:53px;
  height:16px;
}
#u4003 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:14px;
}
#u4004 {
  position:absolute;
  left:190px;
  top:163px;
  width:57px;
  height:14px;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4006 {
  position:absolute;
  left:257px;
  top:158px;
  width:193px;
  height:25px;
}
#u4006_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4007 {
  position:absolute;
  left:190px;
  top:207px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4008 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4009 {
  position:absolute;
  left:261px;
  top:202px;
  width:79px;
  height:25px;
}
#u4009_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4010 {
  position:absolute;
  left:371px;
  top:202px;
  width:79px;
  height:25px;
}
#u4010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u4011 {
  position:absolute;
  left:350px;
  top:207px;
  width:9px;
  height:16px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u4013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4013 {
  position:absolute;
  left:505px;
  top:162px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4014 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4015 {
  position:absolute;
  left:576px;
  top:158px;
  width:124px;
  height:25px;
}
#u4015_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4016 {
  position:absolute;
  left:505px;
  top:208px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4018 {
  position:absolute;
  left:576px;
  top:204px;
  width:124px;
  height:22px;
}
#u4018_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4018_input:disabled {
  color:grayText;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u4019 {
  position:absolute;
  left:1030px;
  top:173px;
  width:90px;
  height:40px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
}
#u4021 {
  position:absolute;
  left:1160px;
  top:173px;
  width:90px;
  height:40px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u4023 {
  position:absolute;
  left:860px;
  top:157px;
  width:90px;
  height:25px;
}
#u4023_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:540px;
  top:263px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4025 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u4026 {
  position:absolute;
  left:380px;
  top:317px;
  width:97px;
  height:16px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u4028 {
  position:absolute;
  left:380px;
  top:387px;
  width:97px;
  height:16px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
}
#u4030 {
  position:absolute;
  left:380px;
  top:456px;
  width:97px;
  height:16px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u4032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u4032 {
  position:absolute;
  left:554px;
  top:319px;
  width:43px;
  height:14px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u4034 {
  position:absolute;
  left:554px;
  top:389px;
  width:43px;
  height:14px;
}
#u4035 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:14px;
}
#u4036 {
  position:absolute;
  left:554px;
  top:457px;
  width:43px;
  height:14px;
}
#u4037 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4038 {
  position:absolute;
  left:770px;
  top:208px;
  width:71px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4039 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4040 {
  position:absolute;
  left:390px;
  top:263px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4042 {
  position:absolute;
  left:770px;
  top:163px;
  width:70px;
  height:14px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u4044 {
  position:absolute;
  left:860px;
  top:203px;
  width:90px;
  height:25px;
}
#u4044_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4045 {
  position:absolute;
  left:0px;
  top:79px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4046 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4047 {
  position:absolute;
  left:0px;
  top:108px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4048 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#CCCCCC;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4049 {
  position:absolute;
  left:0px;
  top:137px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4050 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4051 {
  position:absolute;
  left:0px;
  top:166px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4053 {
  position:absolute;
  left:0px;
  top:195px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4055 {
  position:absolute;
  left:0px;
  top:224px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4056 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4057 {
  position:absolute;
  left:0px;
  top:253px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4058 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
