body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u211 {
  position:absolute;
  left:36px;
  top:30px;
  width:225px;
  height:33px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u213 {
  position:absolute;
  left:90px;
  top:120px;
  width:50px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u214 {
  position:absolute;
  left:2px;
  top:21px;
  width:46px;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u215 {
  position:absolute;
  left:190px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u216 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:140px;
  top:160px;
  width:50px;
  height:0px;
}
#u217_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:64px;
  height:20px;
}
#u218 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u219 {
  position:absolute;
  left:360px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u220 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:290px;
  top:160px;
  width:70px;
  height:0px;
}
#u221_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u222 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u223 {
  position:absolute;
  left:540px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u224 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:460px;
  top:160px;
  width:80px;
  height:0px;
}
#u225_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u226 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u227 {
  position:absolute;
  left:700px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u228 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:640px;
  top:160px;
  width:60px;
  height:0px;
}
#u229_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u230 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u231 {
  position:absolute;
  left:190px;
  top:230px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u232 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:750px;
  top:190px;
  width:-510px;
  height:40px;
}
#u233_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:44px;
}
#u233_seg1 {
  position:absolute;
  left:-520px;
  top:20px;
  width:530px;
  height:20px;
}
#u233_seg2 {
  position:absolute;
  left:-520px;
  top:20px;
  width:20px;
  height:24px;
}
#u234 {
  position:absolute;
  left:-295px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:290px;
  top:260px;
  width:70px;
  height:0px;
}
#u235_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:84px;
  height:20px;
}
#u236 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u237 {
  position:absolute;
  left:360px;
  top:230px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u238 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:460px;
  top:260px;
  width:80px;
  height:0px;
}
#u239_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u240 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:540px;
  top:230px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u243 {
  position:absolute;
  left:700px;
  top:230px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u244 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:640px;
  top:260px;
  width:60px;
  height:0px;
}
#u245_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u246 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
