body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1340px;
  height:90px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u4232 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1340px;
  height:90px;
}
#u4233 {
  position:absolute;
  left:2px;
  top:37px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:752px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u4234 {
  position:absolute;
  left:0px;
  top:49px;
  width:150px;
  height:752px;
}
#u4235 {
  position:absolute;
  left:2px;
  top:368px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:81px;
}
#u4236 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:80px;
}
#u4237 {
  position:absolute;
  left:2px;
  top:33px;
  width:146px;
  word-wrap:break-word;
}
#u4238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1190px;
  height:720px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u4238 {
  position:absolute;
  left:150px;
  top:80px;
  width:1190px;
  height:720px;
}
#u4239 {
  position:absolute;
  left:2px;
  top:352px;
  width:1186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1191px;
  height:81px;
}
#u4240 {
  position:absolute;
  left:150px;
  top:0px;
  width:1190px;
  height:80px;
}
#u4241 {
  position:absolute;
  left:2px;
  top:33px;
  width:1186px;
  word-wrap:break-word;
}
#u4242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4242 {
  position:absolute;
  left:1187px;
  top:58px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4243 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u4244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
  color:#FF0000;
}
#u4244 {
  position:absolute;
  left:1227px;
  top:58px;
  width:8px;
  height:15px;
  color:#FF0000;
}
#u4245 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u4246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u4246 {
  position:absolute;
  left:1237px;
  top:58px;
  width:14px;
  height:13px;
}
#u4247 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u4248p000 {
  position:absolute;
  left:169px;
  top:147px;
  width:973px;
  height:3px;
}
#u4248p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:973px;
  height:3px;
}
#u4248 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4249 {
  position:absolute;
  left:172px;
  top:140px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u4250 {
  position:absolute;
  left:190px;
  top:115px;
  width:121px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u4251 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u4252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:387px;
}
#u4252 {
  position:absolute;
  left:190px;
  top:166px;
  width:765px;
  height:387px;
}
#u4253 {
  position:absolute;
  left:2px;
  top:186px;
  width:761px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  border-radius:5px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4254 {
  position:absolute;
  left:810px;
  top:580px;
  width:140px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4255 {
  position:absolute;
  left:2px;
  top:14px;
  width:136px;
  word-wrap:break-word;
}
#u4256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4256 {
  position:absolute;
  left:0px;
  top:79px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4257 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4258 {
  position:absolute;
  left:0px;
  top:108px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4259 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4260 {
  position:absolute;
  left:0px;
  top:137px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4261 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#CCCCCC;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4262 {
  position:absolute;
  left:0px;
  top:166px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4263 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4264 {
  position:absolute;
  left:0px;
  top:195px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4265 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4266 {
  position:absolute;
  left:0px;
  top:224px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4267 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u4268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4268 {
  position:absolute;
  left:0px;
  top:253px;
  width:150px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4269 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
