body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u25 {
  position:absolute;
  left:75px;
  top:120px;
  width:50px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u26 {
  position:absolute;
  left:2px;
  top:34px;
  width:46px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
}
#u27 {
  position:absolute;
  left:36px;
  top:30px;
  width:225px;
  height:33px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:180px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:125px;
  top:160px;
  width:55px;
  height:0px;
}
#u31_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:69px;
  height:20px;
}
#u32 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u33 {
  position:absolute;
  left:340px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u34 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:280px;
  top:160px;
  width:60px;
  height:0px;
}
#u35_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u36 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u37 {
  position:absolute;
  left:500px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u38 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:440px;
  top:160px;
  width:60px;
  height:0px;
}
#u39_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u40 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u41 {
  position:absolute;
  left:680px;
  top:130px;
  width:100px;
  height:60px;
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:600px;
  top:160px;
  width:80px;
  height:0px;
}
#u43_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u44 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u45 {
  position:absolute;
  left:880px;
  top:130px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u46 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:780px;
  top:160px;
  width:100px;
  height:0px;
}
#u47_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u48 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u49 {
  position:absolute;
  left:75px;
  top:260px;
  width:50px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#0000FF;
}
#u50 {
  position:absolute;
  left:2px;
  top:34px;
  width:46px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:125px;
  top:300px;
  width:55px;
  height:0px;
}
#u51_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:69px;
  height:20px;
}
#u52 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u53 {
  position:absolute;
  left:500px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:180px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u56 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u57 {
  position:absolute;
  left:340px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:280px;
  top:300px;
  width:60px;
  height:0px;
}
#u59_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u60 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:440px;
  top:300px;
  width:60px;
  height:0px;
}
#u61_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u62 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u63 {
  position:absolute;
  left:680px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u64 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:600px;
  top:300px;
  width:80px;
  height:0px;
}
#u65_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u66 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u67 {
  position:absolute;
  left:880px;
  top:270px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u68 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:780px;
  top:300px;
  width:100px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u69_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:114px;
  height:20px;
}
#u70 {
  position:absolute;
  left:0px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u71 {
  position:absolute;
  left:880px;
  top:360px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:96px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:730px;
  top:330px;
  width:150px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u73_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:74px;
}
#u73_seg1 {
  position:absolute;
  left:-10px;
  top:50px;
  width:164px;
  height:20px;
}
#u74 {
  position:absolute;
  left:-5px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u75 {
  position:absolute;
  left:75px;
  top:420px;
  width:50px;
  height:80px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#FF0000;
}
#u76 {
  position:absolute;
  left:2px;
  top:34px;
  width:46px;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u77 {
  position:absolute;
  left:180px;
  top:430px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u78 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:125px;
  top:460px;
  width:55px;
  height:0px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u79_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:69px;
  height:20px;
}
#u80 {
  position:absolute;
  left:-23px;
  top:-7px;
  width:100px;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u81 {
  position:absolute;
  left:340px;
  top:430px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u82 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:280px;
  top:460px;
  width:60px;
  height:0px;
}
#u83_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u84 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u85 {
  position:absolute;
  left:500px;
  top:430px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u86 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:440px;
  top:460px;
  width:60px;
  height:0px;
}
#u87_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u88 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:340px;
  top:530px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:230px;
  top:490px;
  width:110px;
  height:70px;
}
#u91_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:84px;
}
#u91_seg1 {
  position:absolute;
  left:-10px;
  top:60px;
  width:124px;
  height:20px;
}
#u92 {
  position:absolute;
  left:-30px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:-moz-linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  background:linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 0%, #E4E4E4 100%, #FFFFFF 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:500px;
  top:530px;
  width:100px;
  height:60px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u94 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:440px;
  top:560px;
  width:60px;
  height:0px;
}
#u95_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:74px;
  height:20px;
}
#u96 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u97 {
  position:absolute;
  left:21px;
  top:142px;
  width:19px;
  height:37px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u99 {
  position:absolute;
  left:21px;
  top:282px;
  width:19px;
  height:37px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
}
#u101 {
  position:absolute;
  left:21px;
  top:453px;
  width:19px;
  height:37px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
