body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1280px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
  background:inherit;
  background-color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u646 {
  position:absolute;
  left:2px;
  top:27px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:20px;
  background:inherit;
  background-color:#505050;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#000000;
}
#u647 {
  position:absolute;
  left:0px;
  top:70px;
  width:1280px;
  height:20px;
}
#u648 {
  position:absolute;
  left:2px;
  top:2px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u649 {
  position:absolute;
  left:170px;
  top:7px;
  width:130px;
  height:60px;
}
#u650 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u651 {
  position:absolute;
  left:345px;
  top:40px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:528px;
  top:40px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u655 {
  position:absolute;
  left:423px;
  top:40px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:74px;
}
#u657 {
  position:absolute;
  left:310px;
  top:650px;
  width:660px;
  height:74px;
}
#u658 {
  position:absolute;
  left:2px;
  top:29px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u659 {
  position:absolute;
  left:515px;
  top:229px;
  width:40px;
  height:13px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u661 {
  position:absolute;
  left:580px;
  top:223px;
  width:107px;
  height:25px;
}
#u661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
}
#u662 {
  position:absolute;
  left:515px;
  top:276px;
  width:40px;
  height:13px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u664 {
  position:absolute;
  left:580px;
  top:270px;
  width:110px;
  height:25px;
}
#u664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:515px;
  top:319px;
  width:40px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668 {
  position:absolute;
  left:580px;
  top:319px;
  width:40px;
  height:13px;
}
#u669 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u668_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u670 {
  position:absolute;
  left:620px;
  top:319px;
  width:40px;
  height:13px;
}
#u671 {
  position:absolute;
  left:16px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u670_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u672 {
  position:absolute;
  left:660px;
  top:319px;
  width:50px;
  height:13px;
}
#u673 {
  position:absolute;
  left:16px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u672_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u674 {
  position:absolute;
  left:515px;
  top:356px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u676 {
  position:absolute;
  left:580px;
  top:352px;
  width:109px;
  height:22px;
}
#u676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u676_input:disabled {
  color:grayText;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u677 {
  position:absolute;
  left:513px;
  top:399px;
  width:66px;
  height:13px;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u679 {
  position:absolute;
  left:580px;
  top:393px;
  width:110px;
  height:25px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u680 {
  position:absolute;
  left:513px;
  top:435px;
  width:66px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u682 {
  position:absolute;
  left:580px;
  top:428px;
  width:110px;
  height:25px;
}
#u682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:13px;
}
#u683 {
  position:absolute;
  left:501px;
  top:469px;
  width:79px;
  height:13px;
}
#u684 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u685 {
  position:absolute;
  left:580px;
  top:463px;
  width:185px;
  height:25px;
}
#u685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:13px;
}
#u686 {
  position:absolute;
  left:501px;
  top:509px;
  width:66px;
  height:13px;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u688 {
  position:absolute;
  left:580px;
  top:503px;
  width:405px;
  height:25px;
}
#u688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u689 {
  position:absolute;
  left:480px;
  top:596px;
  width:100px;
  height:13px;
}
#u690 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u689_input {
  position:absolute;
  left:-3px;
  top:-4px;
}
#u691 {
  position:absolute;
  left:522px;
  top:596px;
  width:50px;
  height:13px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u692 {
  position:absolute;
  left:524px;
  top:640px;
  width:91px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u693 {
  position:absolute;
  left:2px;
  top:19px;
  width:87px;
  word-wrap:break-word;
}
#u694 {
  position:absolute;
  left:580px;
  top:549px;
  width:119px;
  height:25px;
}
#u694_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
}
#u695 {
  position:absolute;
  left:722px;
  top:549px;
  width:65px;
  height:25px;
}
#u696 {
  position:absolute;
  left:2px;
  top:5px;
  width:61px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u697 {
  position:absolute;
  left:501px;
  top:555px;
  width:53px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
  background:inherit;
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:#797979;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u699 {
  position:absolute;
  left:669px;
  top:640px;
  width:91px;
  height:50px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u700 {
  position:absolute;
  left:2px;
  top:19px;
  width:87px;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:578px;
  top:180px;
  width:107px;
  height:25px;
}
#u701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u702 {
  position:absolute;
  left:515px;
  top:186px;
  width:53px;
  height:13px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u704 {
  position:absolute;
  left:515px;
  top:137px;
  width:53px;
  height:13px;
}
#u705 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u706 {
  position:absolute;
  left:575px;
  top:131px;
  width:107px;
  height:25px;
}
#u706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
