body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:0px;
  width:765px;
  height:495px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u3 {
  position:absolute;
  left:253px;
  top:0px;
  width:253px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u5 {
  position:absolute;
  left:506px;
  top:0px;
  width:254px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:253px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:30px;
}
#u9 {
  position:absolute;
  left:253px;
  top:30px;
  width:253px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:30px;
}
#u11 {
  position:absolute;
  left:506px;
  top:30px;
  width:254px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:253px;
  height:43px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:43px;
}
#u15 {
  position:absolute;
  left:253px;
  top:60px;
  width:253px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:43px;
}
#u17 {
  position:absolute;
  left:506px;
  top:60px;
  width:254px;
  height:43px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:387px;
}
#u19 {
  position:absolute;
  left:0px;
  top:103px;
  width:253px;
  height:387px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:387px;
}
#u21 {
  position:absolute;
  left:253px;
  top:103px;
  width:253px;
  height:387px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:2px;
  top:2px;
  width:249px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:387px;
}
#u23 {
  position:absolute;
  left:506px;
  top:103px;
  width:254px;
  height:387px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:2px;
  top:2px;
  width:250px;
  word-wrap:break-word;
}
